.login {
  margin-top: 7rem;
  min-height: 100vh;
}

.login p {
  margin: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.login form {
  max-width: 400px;
  margin: 0 auto;
  color: #757e99;
  margin-bottom: 5rem;
}

.login form .form-group {
  padding: 1rem 0;
}

.login form input[type='email'],
.login form input[type='password'] {
  display: block;
  width: 100%;
  height: 2.2rem;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #f2f2f2;
  border: none;
}

.login form input[type='email']:focus,
.login form input[type='password']:focus {
  outline: none;
}

.login form .login-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1rem;
}

.login form .login-btn-container a {
  margin-right: 1rem;
  color: #757e99;
  font-size: 0.9rem;
}

.login .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab';
  background-color: var(--primary-color);
  font-size: 1rem;
  color: #e8d7d7;
  padding: 0.7rem 2.5rem;
  border: none;
  cursor: pointer;
}
