.products .add-new {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.products .add-new a {
  background-color: rgb(37, 224, 77);
  color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.products .datatable-container {
  overflow-x: auto;
}

.products .datatable {
  margin: 1rem auto;
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
}

.products .datatable img {
  width: 100px;
}

.products .datatable td,
.products .datatable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.products .datatable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.products .datatable tr:hover {
  background-color: #ddd;
}

.products .datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
}
