.per-page {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.per-page input {
  width: 50px;
  padding: 0.1rem 0.1rem;
  margin-left: 0.2rem;
}

.datatable-container {
  overflow-x: auto;
}

.datatable {
  margin: 1rem auto;
  border-collapse: collapse;
  width: 100%;
  cursor: pointer;
}

.datatable td,
.datatable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.datatable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.datatable tr:hover {
  background-color: #ddd;
}

.datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary-color);
  color: white;
}

.pagination {
  max-width: 500px;
  margin: 0.5rem auto;
}
.pagination ul {
  /* background-color: red; */

  display: flex;
  justify-content: space-around;
}
.pagination li {
  background-color: #f3f3f3;
  padding: 0.2rem 0.7rem;
  cursor: pointer;
}

.pagination li a {
  outline: none;
}

.pagination li.selected {
  background-color: var(--primary-color);
}
.pagination li.selected a {
  color: #fff;
}
