.update-password {
  margin-top: 0 !important;
}

.update-password p {
  margin: 2rem 0 2rem 0;
  text-align: center;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.update-password form {
  max-width: 400px;
  margin: 0 auto;
  color: #757e99;
  margin-bottom: 5rem;
}

.update-password form .form-group {
  padding: 1rem 0;
}

.update-password form input[type='password'] {
  display: block;
  width: 100%;
  height: 2.2rem;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: #f2f2f2;
  border: none;
}

.update-password form input[type='password']:focus {
  outline: none;
}

.update-password .submit {
  float: right;
  font-family: 'Roboto Slab';
  background-color: var(--primary-color);
  font-size: 1rem;
  color: #e8d7d7;
  padding: 0.7rem 2.5rem;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
